@media (min-width: $generic-lap) {
    .navbar--container {
        padding: 15px 70px 15px 70px;
    }
    .askprint {
        width: 230px;
        height: 35px;
        margin: 14px 40px 0 18px;
    }
    .carousel-inner {
        .carousel-item img {
            height: 45vh;
        }
    }
    .services {
        padding: 0;
    }
    .service--box:nth-child(2) {
        background: $closeToWhite;
    }
    .service--box .service--box__col {
        margin: 0 -40px;
    }
    .service--box .service--box__col img {
        width: 330px;
    }
    .contact--header {
        margin-left: 80px;
    }
    .contact--header h2 {
        font-size: 4.1rem;
    }
    .contact--body {
        margin-left: 25px;
    }
    .contact--container {
        justify-content: center;
        margin: 0 auto;
    }
    .contact--body form input {
        width: 480px;
    }
    .service--banner {
        width: 100%;
        height: 300px;
    }
    .mps {
        background-image: url('images/LAP/SAI.png');
    }
    .sad {
        background-image: url('images/LAP/SAD.png');
    }
    .footer--container {
        padding: 40px 40px;
    }
    .devices {
        width: $generic-lap;
        margin: 0 auto;
    }
    .assistant {
        &__body {
            &--box {
                width: 100%;
                padding: 10px;
                height: 128px;
            }
            &--text {
                line-height: 2rem;
                font-size: 1.4rem;
                padding: 10px;
            }
            &--title {
                font-size: 1.4rem;
                margin: 10px;
            }
            &--check-item {
                transform: translate(5px, -18px);
                margin: 18px 0;
                width: 100%;
                height: 38px;
                font-size: 1.4rem;
                line-height: 2rem;
                & span {
                    margin-left: 3px;
                }
            }
        }
        &__box {
            margin: 10px 15px;
            width: 285px;
            height: 265px;
        }
        &__footer {
            &--box {
                width: 100%;
                height: 22px;
                width: 100%;
            }
            &--input {
                margin: 5px;
            }
        }
        &__form {
            width: $generic-lap;
            margin: 0 auto;
            &--header {
                padding: 20px 10px;
                width: 100%;
                height: 100%;
            }
            &--contact {
                margin: 15px auto;
                width: 300px;
                &-item {
                    margin: 0 auto;
                    font-size: 1.4rem;
                    line-height: 2rem;
                    margin: 10px 0;
                    & span {
                        padding: 5px;
                    }
                    & input {
                        margin-top: 8px;
                    }
                    & select {
                        margin-top: 8px;
                    }
                }
            }
        }
        &__head-title {
            font-size: 2.7rem;
            margin: 0 auto;
            height: 100%;
            width: 80%;
        }
        &__header {
            &--box {
                height: 80px;
            }
        }
    }
    .form {
        &__button {
            height: 100%;
            margin: 10px;
            padding: 10px;
            & button {
                margin: 0 10px;
            }
        }
        &__container {
            padding: 35px 10px;
        }
    }
}
