.devices{
  display: flex;
  justify-content: start;
  width: 320px;
  overflow: hidden;
}
.assistant {
  transition: 0.5s;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 50px 10px;
  &__body {
    &--box {
      padding: 10px;
      height: 128px;
    }
    &--text {
      text-align: center;
      font-size: 1.2rem;
      padding: 10px;
    }
    &--title {
      font-weight: 600;
      text-align: center;
      font-size: 1.4rem;
      margin: 10px;
    }
  }
  &__box {
    border-radius: 9px;
    background-color: rgba($color: #05507e, $alpha: 0.1);
    margin: 10px 15px;
    width: 240px;
    height: 250px;
    &:active{
      border: 3px solid $luc;
    }
  }
  &__footer {
    &--box {
      display: flex;
      justify-content: center;
      height: 42px;
      width: 100%;
    }
    &--input {
      margin: 5px;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin: 0 auto;
    &--header {
      padding: 20px 10px;
      width: 100%;
      height: 100%;
    }
  }
  &__head-title {
    font-weight: 700;
    font-size: 1.6rem;
    text-align: center;
    margin: 0 auto;
    height: 100%;
    width: 80%;
  }
  &__header {
    &--box {
      display: flex;
      justify-content: center;
      height: 80px;
    }
  }
}
.form {
  &__button {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%;
    margin: 10px;
    padding: 10px;
    & button{
      margin: 0 10px;
    }
  }
  &__container {
    padding: 35px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
.icon-print {
}
.multifunciona-icon {
}
.svg {
  height: 80px;
  // filter: invert(59%) sepia(47%) saturate(794%) hue-rotate(174deg) brightness(105%) contrast(94%);
  filter: invert(21%) sepia(82%) saturate(1133%) hue-rotate(174deg)
    brightness(98%) contrast(97%);
}
.selected{
  border: 3px solid $luc;
}

