footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 45px 7px;
    box-sizing: border-box;
    background: $closeToWhite;
    &::after{
        box-sizing: border-box;
    }
    &::before{
        box-sizing: border-box;
    }
}
.footer--container {
    width: 100%;
    height: 100%;
}
.footer--container a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
}
.nav--footer__link {
    width: 100%;
    padding: 0 8px;
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: 600;
}
.nav--footer__item{
    margin-top: 10px;
}
.dropdown--footer__menu li {
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin: 10px auto;
    font-weight: 400;
    color: black;
}
.dropdown--footer__menu {
    display: none;
}
.footer--icon {
    padding-right: 4px;
}
.dropdown--footer__menu .dropdown--item {
    margin-top: 4px;
    padding-left: 40px;
}
.logo--footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.logo--footer p{
    margin-top: 15px;
    padding-left: 24px;
    font-size: 1.2rem;
    line-height: 2rem;
    color: #1d1d1d;
}
.logo--footer img{
    margin-top: 20px;
    padding-left: 24px;
    width: 200px;
    filter: grayscale(100%);

}